<html>
<body>

    <h1>Admin Dashboard</h1>
    <ul>
      <li><a href="/admin/requests">View User Requests</a></li>
      <li><a href="/admin/feedback">View Feedback</a></li>
    </ul>

</body>


</html>

