<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
  <h1><a class="brand">nudge</a></h1>
</header>

  <nav>
    <a href="/login" class="nav-btn">Login</a>
    <a href="/register" class="nav-btn">Register</a>
    <a href="/admin/login" class="nav-btn">Admin Login</a>
  </nav>
</body>
</html>
